div {
  height: 100%;
  display: inline-block;
  width: 100%;
  margin-bottom: 1%;
}

fieldset {
  padding-top: 1%;
}

input {
  float: right;
}

span {
  float: right;
  text-align: end;
}

input[name="joukkueenNimi"],
.tekstikentta {
  width: 40%;
  min-width: 230px;
}

.tekstikentta {
  border: 1px solid blue;
}

:required {
  border: 1px solid blue;
}

#row {
  display: flex;
  flex-wrap: wrap;
}

#vasen {
  flex: 1 70%;
}

#oikea {
  flex: 1 30%;
  min-width: 170px;
}