/*
* Taustaväri mustaksi
*/
html, body {
  background-color: black;
}

/*
* Asetetaan container koko ikkunan leveydelle
*/
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*
* Vasemman pupun puolikkaan canvas, näkymään palkkien eteen ja pöllön taakse
* ja sille animaatio
*/
#childCanv1 {
  height: 100%;
  z-index: -1;
  position: absolute;
  animation-duration: 5s;
  animation-name: slide-left;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
* Oikean pupun puolikkaan canvas, näkymään palkkien eteen ja pöllön taakse
* ja sille animaatio
*/
#childCanv2 {
  height: 100%;
  z-index: -1;
  position: absolute;
  animation-duration: 5s;
  animation-name: slide-right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
* Palkit oikean kokoisiksi ja taaimmaisiksi ja animaation lisäys
*/
svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  animation-name: slide-bar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
* Pöllö paikoilleen ja animaation lisäys
*/
#owl-img {
  position: absolute;
  left: 0%;
  top: 0%;
  animation-name: slide-owl;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


/*
* Palkkien animaatio
*/
@keyframes slide-bar {
  0% {}
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

/*
* Pöllön animaatio
*/
@keyframes slide-owl {
  0% {}
  25% {
    left: calc(100% - 94.5px);
    top: calc(100% - 92.5px);
  }
  50% {
    left: 0%;
    top: calc(100% - 92.5px);
  }
  75% {
    left: calc(100% - 94.5px);
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}

/*
* Vasemman pupun puolikkaan animaatio
*/
@keyframes slide-left {
  from {
    right: calc(100%/2);
  }
  to {
    right: calc(100% - 191.5px);
  }
}

/*
* Oikean pupun puolikkaan animaatio
*/
@keyframes slide-right {
  from {
    left: calc(100%/2);
  }
  to {
    left: calc(100% - 191.5px);
  }
}
