/*
* Inputkentät oikealle
*/
#joukkueenNimi,
#aika,
#fieldset div input,
#fieldsetKisat div input {
    float: right;
}

/*
* Kaikille diveille tyyli
*/
div {
    height: 100%;
    display: inline-block;
    width: 100%;
    margin-bottom: 2%;
}

/*
* Alasveto valikon tyyli
*/
select {
    float: right;
    margin-bottom: 2%;
}

/*
* Leimaus tiedot oikealle
*/
#leimaus {
    float: right;
    text-align: right;
}

/*
* Sarjojen tiedot oikealle
*/
#sarjat {
    float: right;
    text-align: right;
    margin-right: 0.5%;
}

/*
* Fielset marginia ja padding
*/
fieldset {
    margin-bottom: 2%;
}

/*
* Kentät, jotka vaaditaan rajataan sinisiksi
*/
:required {
    border: 1px solid blue;
}

/*
* Jäsen kenttien rajat sinisiksi
*/
#kentta1,
#kentta2,
#kentta3,
#kentta4,
#kentta5 {
    border: 1px solid blue;
}

/*
* otsikko 2 vähän margin ylös
*/
h2 {
    margin-top: 5%;
}

/*
* taulukkoon alas margin
*/
ul {
    margin-bottom: 10%;
}

/*
* Tallenna napeille margin
*/
#tallennaJ,
#tallennaK {
    margin-bottom: 10%;
}

/*
* Koko sisällön div
*/
#row {
    display: flex;
    flex-wrap: wrap;
}

/*
* Vasemmalle kuuluva div
*/
#vasen {
    flex: 1 70%;
}

/*
* Oikealle kuuluva div
*/
#oikea {
    flex: 1 30%;
    min-width: 170px;
}

/*
* Peruuta painike
*/
#peruuta {
    margin-left: 5%;
}